@page "/"
@using AccountingAssistant.Clients
@using AccountingAssistant.Shared

<PageTitle>Home</PageTitle>
<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <Assistant />
    </ChildContent>
    <ErrorContent>
        <p class="error-message">Uh oh! Something went wrong</p>
        <button class="btn btn-warning" @onclick="ResetError">Reset</button>
    </ErrorContent>

</ErrorBoundary>





