@page "/"
@using AccountingAssistant.Clients

<PageTitle>Home</PageTitle>

<div class="d-flex flex-nowrap">
    
    <div class="sidebar">
        
        <ul class="chats">
            <li class="chat">Give me the best accounting books</li>
        </ul>
    </div>
    <div>
        <NavMenu />
        <h1>Hello, world!</h1>
        Welcome to your new app.

        </div>

    <p>This is the answer: @response</p>
</div>




